{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard | WattBuddy{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
<div class="sidebar">
    <ul>
      <li><a href="{% url 'recommendations' %}">✅ Recommendations</a></li>
      <li><a href="{% url 'bill_estimator' %}">💡 Bill Estimator</a></li>
      <li><a href="{% url 'charts' %}">📊 Usage Charts</a></li>
    </ul>
  </div>
 <div class="main-content">
   <center>
   <h2>Welcome to your Dashboard ⚡</h2>
    <p>Select a feature from the sidebar to explore your energy usage.</p></center>
  </div>
{% endblock %}
