{% extends "base.html" %}
{% load static %}

{% block title %} Login | WattBuddy {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST",action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username" required><br>
    <input type="password" name="password" placeholder="Enter password" required><br>
    <button type="submit">Login</button>
</form>
<a class= "signup_link" href="{% url 'signup' %}">Don’t have an account? Signup</a>
{% endblock %} 
 