{% extends "base.html" %}
{% load static %}
{% block title %} Login | WattBuddy{% endblock %}
{% block content %}
<h2>Signup</h2>
<form method="POST",action="{% url 'signup' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username" required><br>
    <input type="password" name="password" placeholder="Enter password" required><br>
    <input type="password" name="confirm_password" placeholder="Confirm password" required><br>
    <button type="submit">Signup</button>
</form>
<a href="{% url 'login' %}">Already have an account? Login</a>
{% endblock %}
